html {
  height: 100%;
  width: 100%;
}
.test {color: green;}
.newpage {
  background-image: url('vital-sinkevich-LAKQ3i-xn84-unsplash.jpg');
}
table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  
}
.clickpage {
    background-color: #000000; 
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  }
  header {
    background-color: rgb(26, 24, 24);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  article {
    background-color: #6b6a6a;
    padding: 25px;
    text-align: left;
    font-size: auto;
    width: auto;

  }
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 30px;
}

 


  


