html {
  height: 100%;
  width: 100%;
}
.test {color: green;}
.newpage {
  background-image: url('vital-sinkevich-LAKQ3i-xn84-unsplash.jpg');
}
table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  
}
.clickpage {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.clickpage:disabled {
  cursor: default;
}

.clickpage:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
  
  header {
    background-color: rgb(26, 24, 24);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  article {
    background-color: #6b6a6a;
    padding: 25px;
    text-align: left;
    font-size: auto;
    width: auto;

  }
section::after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 30px;
}

 


  


