html {
  height: 100%;
  width: 100%;
}
.test {color: green;}
.newpage {
  background-image: url('vital-sinkevich-LAKQ3i-xn84-unsplash.jpg');
}
table {
  font-family: arial;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
  
}
.clickpage {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 25px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
  }




